<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <div class="padded" style="display: flex" *ngFor="let group of grouped; let i = index">
      <div class="padded" *ngFor="let item of group; let i = index">
        <ion-button (click)="showPop($event, item)">Popover</ion-button>
      </div>
    </div>
  </div>
</ion-content>
